# Find hydrogenation rxn

In [2]:
import pandas as pd

In [5]:
df = pd.read_parquet('/Users/danielwigh/Library/CloudStorage/OneDrive-UniversityofCambridge/Cambridge/Projects/Datasets/param-sharing-data/super_class_train.parquet')

In [11]:
df[df['Reaction_Class']=="7.6.1"]
# 7.5.3
#

,Reaction_String,Reaction_Class,solvent_000,solvent_001,agent_000,agent_001,agent_002,super class,mid class,super class name,mid class name
14,[CH3:1][CH2:2][CH2:3][N:4]([CH2:5][CH2:6][CH3:...,7.6.1,O=S(Cl)Cl,c1ccncc1,Cl,None,None,7,7.6,Reductions,7.6 Alkene to alkane
24,[CH3:1][O:2][c:3]1[cH:4][cH:5][c:6]2[c:7]([cH:...,7.6.1,CC(=O)O,None,[Pd],None,None,7,7.6,Reductions,7.6 Alkene to alkane
187,[O:1]=[C:2]1[NH:3][c:4]2[cH:5][cH:6][cH:7][cH:...,7.6.1,O,CS(C)=O,Cl,None,None,7,7.6,Reductions,7.6 Alkene to alkane
190,[O:1]=[C:2]([CH2:3][CH2:4][c:5]1[cH:6][cH:7][c...,7.6.1,COc1ccccc1,None,C,[Pd],[H][H],7,7.6,Reductions,7.6 Alkene to alkane
194,[O:1]=[C:2]1[CH:3]=[CH:4][c:5]2[cH:6][cH:7][cH...,7.6.1,CN(C)C=O,None,[H][H],[Na+],[H-],7,7.6,Reductions,7.6 Alkene to alkane
...,...,...,...,...,...,...,...,...,...,...,...
356565,[CH3:1][CH2:2][CH2:3][CH2:4][CH2:5][CH2:6][O:7...,7.6.1,ClCCl,O,BrB(Br)Br,None,None,7,7.6,Reductions,7.6 Alkene to alkane
356625,[F:1][c:2]1[cH:3][cH:4][c:5]([C:6]2=[N:15][N:1...,7.6.1,CC(C)=O,None,O=C([O-])[O-],[K+],None,7,7.6,Reductions,7.6 Alkene to alkane
356757,[CH3:1][c:2]1[cH:3][cH:4][cH:5][c:6]([C:7](=[O...,7.6.1,CN(C)C=O,None,O=C([O-])[O-],[K+],None,7,7.6,Reductions,7.6 Alkene to alkane
356811,[CH3:1][C:2]1=[CH:3][c:4]2[c:5]([F:6])[cH:7][c...,7.6.1,C1CCOC1,None,[Al+3],[H-],[Li+],7,7.6,Reductions,7.6 Alkene to alkane
356831,[CH3:1][c:2]1[cH:3][cH:4][c:5](-[c:6]2[cH:7][c...,7.6.1,CS(C)=O,CCO,[Na+],OO,None,7,7.6,Reductions,7.6 Alkene to alkane

In [21]:
df.loc[190]['Reaction_String']

'[O:1]=[C:2]([CH2:3][CH2:4][c:5]1[cH:6][cH:7][c:8]([OH:9])[cH:10][cH:11]1)[c:12]1[c:13]([OH:14])[cH:15][c:16]([OH:17])[cH:18][c:19]1[OH:20]>>[O:1]=[C:2]([CH2:3][CH2:4][C:5]1=[CH:6][CH2:7][CH:8]([OH:9])[CH:10]=[CH:11]1)[c:12]1[c:13]([OH:14])[cH:15][c:16]([OH:17])[cH:18][c:19]1[OH:20]'

In [23]:
'[O:1]=[C:2]([CH2:3][CH2:4][c:5]1[cH:6][cH:7][c:8]([OH:9])[cH:10][cH:11]1)[c:12]1[c:13]([OH:14])[cH:15][c:16]([OH:17])[cH:18][c:19]1[OH:20]>>[O:1]=[C:2]([CH2:3][CH2:4][C:5]1=[CH:6][CH2:7][CH:8]([OH:9])[CH:10]=[CH:11]1)[c:12]1[c:13]([OH:14])[cH:15][c:16]([OH:17])[cH:18][c:19]1[OH:20]'

'[O:1]=[C:2]([CH2:3][CH2:4][c:5]1[cH:6][cH:7][c:8]([OH:9])[cH:10][cH:11]1)[c:12]1[c:13]([OH:14])[cH:15][c:16]([OH:17])[cH:18][c:19]1[OH:20]>>[O:1]=[C:2]([CH2:3][CH2:4][C:5]1=[CH:6][CH2:7][CH:8]([OH:9])[CH:10]=[CH:11]1)[c:12]1[c:13]([OH:14])[cH:15][c:16]([OH:17])[cH:18][c:19]1[OH:20]'

In [16]:
df2 = pd.read_parquet('/Users/danielwigh/Library/CloudStorage/OneDrive-UniversityofCambridge/Cambridge/Projects/Datasets/param-sharing-data/orderly_condition_train.parquet')

In [22]:
hydrogenation_rxn = '[O:1]=[C:2]([CH2:3][CH2:4][c:5]1[cH:6][cH:7][c:8]([OH:9])[cH:10][cH:11]1)[c:12]1[c:13]([OH:14])[cH:15][c:16]([OH:17])[cH:18][c:19]1[OH:20]>>[O:1]=[C:2]([CH2:3][CH2:4][C:5]1=[CH:6][CH2:7][CH:8]([OH:9])[CH:10]=[CH:11]1)[c:12]1[c:13]([OH:14])[cH:15][c:16]([OH:17])[cH:18][c:19]1[OH:20]'
df2[df2['rxn_str']==hydrogenation_rxn]

Empty DataFrame
Columns: [agent_000, agent_001, agent_002, date_of_experiment, extracted_from_file, grant_date, is_mapped, procedure_details, product_000, reactant_000, reactant_001, rxn_str, rxn_time, solvent_000, solvent_001, temperature, yield_000]
Index: []

In [38]:
df2.loc[190]['rxn_str']

'[N+:1]([C:4]1[C:17]2[C:16](=[O:18])[C:15]3[C:10](=[CH:11][CH:12]=[CH:13][CH:14]=3)[C:9](=[O:19])[C:8]=2[CH:7]=[CH:6][CH:5]=1)([O-])=O.C1(OC)C=CC=CC=1.C.[H][H]>[Pd]>[NH2:1][C:4]1[C:17]2[C:16](=[O:18])[C:15]3[C:10](=[CH:11][CH:12]=[CH:13][CH:14]=3)[C:9](=[O:19])[C:8]=2[CH:7]=[CH:6][CH:5]=1'

In [40]:
'[N+:1]([C:4]1[C:17]2[C:16](=[O:18])[C:15]3[C:10](=[CH:11][CH:12]=[CH:13][CH:14]=3)[C:9](=[O:19])[C:8]=2[CH:7]=[CH:6][CH:5]=1)([O-])=O.C1(OC)C=CC=CC=1.C.[H][H]>[Pd]>[NH2:1][C:4]1[C:17]2[C:16](=[O:18])[C:15]3[C:10](=[CH:11][CH:12]=[CH:13][CH:14]=3)[C:9](=[O:19])[C:8]=2[CH:7]=[CH:6][CH:5]=1'.contains('[H][H]')

AttributeError: 'str' object has no attribute 'contains'

In [41]:
df2.loc[190]['rxn_str'].contains['[H][H]']

AttributeError: 'str' object has no attribute 'contains'

In [39]:
# This creates a boolean series where each True value represents a string containing '[H][H]'
contains_hh = df2['rxn_str'].str.contains(r'\[H\]\[H\]', regex=True, na=False)

# Summing the boolean series gives the count of True values, i.e., the number of strings containing '[H][H]'
count = contains_hh.sum()

print(f"Number of strings containing '[H][H]': {count}")

Number of strings containing '[H][H]': 7541

In [44]:
df2['rxn_str'].str.contains('[H][H]').loc[190]

False